if [ -f .docker_socket_tunnel_helper ]; then
  if ! [ -x "$(command -v docker_socket_tunnel_helper)" ]; then
    echo docker_socket_tunnel_helper is not installed
  else
    eval "$(docker_socket_tunnel_helper connect)"
  fi
fi
  
